

@font-face {
  font-family: 'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
       url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'airstreamregular';
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Airstream-webfont.woff') format('woff'),
       url('fonts/Airstream-webfont.ttf') format('truetype'),
       url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


html,body {
  /*fill the full screen for diff devices or browsers*/
  height:100%;
}


body {
  display: flex;
  flex-direction: column;

  font-size: 20px;
  background: rgb(149, 194, 215);
}

/*define a style with element+attribute+value */
a[href="#"] {
  /*delete underlines of titles*/
  text-decoration: none;
}

.main-header {
  /*I do not want to grow, I can shrink as needed, please calculate my size for me*/
  flex: 0 1 auto;
}

.logo-text {
  display: block;
  margin: 10px;
  background: white;
  color: red;

  text-align: center;
  text-transform: uppercase;
  font-family: lakeshore;
  font-size: 37px;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.thumbnail-item {
  /*inline-blocck means blocks without line breaks*/
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.5);
}

/*#barry-otter {
  background: green;
}*/

/*.thumbnail-item + .thumbnail-item {
  margin-top: 10px;
}*/

.thumbnail-list {
  flex: 0 1 auto;
  /*2 tells the browser to draw it after any of its siblings that has a lower order value; and the default order value is 0 */
  order: 2;
  display: flex;
  /*justify-content attribute can make sure even amount of spacing between flex items*/
  justify-content: space-between;
  list-style: none;
  padding: 10px;

  white-space: nowrap;
  overflow: auto;
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 14px 20px;

  background: rgb(196, 125, 139);
  color: rgb(200, 0, 0);

  font-size: 18px
}

.detail-image-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
/*seems not on center?*/
  align-items: center;
  margin-left: 40px;
}

.detail-image-frame {
  position: relative;
  text-align: center;
}

.detail-image {
  display: block;
  width: 80%;
}

.detail-image-title {
  position: absolute;
  bottom: 160px;
  left: 4px;

  font-family: airstreamregular;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
  font-size: 40px;
}

.hidden-detail .detail-image-container{
  display: none;
}

.hidden-detail .thumbnail-list{
  flex-direction: column;
  align-items: center;
}

.hidden-detail .thumbnail-item{
  max-width: 80%;
}

/*@media all and (min-width: 768px) {*/
@media all and (orientation: landscape) {
  .main-content{
    flex-direction: row;
    overflow: hidden;
  }

  .thumbnail-list {
    flex-direction: column;
    order: 0;
    margin-left: 20px;
  }

  .thumbnail-item {
    max-width: 260px;
  }

  .thumbnail-item + .thumbnail-item {
    margin-top: 20px;
  }
}
