@font-face {
  font-family: 'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
       url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 20px;
  background: rgb(149, 194, 215);
}

a[href="#"] {
  text-decoration: none;
}

.logo-text {
  display: block;
  margin: 10px;
  background: white;
  color: red;

  text-align: center;
  text-transform: uppercase;
  font-family: lakeshore;
  font-size: 37px;
}

.thumbnail-item {
  display: inline-block;
  width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.5);
}

/*#barry-otter {
  background: green;
}*/

.thumbnail-item + .thumbnail-item {
  margin-top: 10px;
}

.thumbnail-list {
  list-style: none;
  padding: 10px;
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 14px 20px;

  background: rgb(196, 125, 139);
  color: rgb(200, 0, 0);

  font-size: 18px
}

.detail-image {
  display: block;
  width: 90%;
}
