body {
  font-size: 20px;
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 14px 20px;

  background: rgb(196, 125, 139);
  color: rgb(200, 0, 0);

  font-size: 18px
}


a[href="#"] {
  text-decoration: none;
}
